<% provide(:title, "Employees") %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center jumbotron">
			<h1>Employees</h1>
			<p>This shows the manager, the current employees of the pharmacy, and information about them</p>
		</div>
	</body>
</html>

