<% provide(:title, "Finances") %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center jumbotron">
			<h1>Finances</h1>
			<p>This provdes statistics of profit, and medecine sold during the past.</p>
		</div>
	</body>
</html>

