<% provide(:title, "Inventory") %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center jumbotron">
			<h1>Inventory</h1>
			<p>This shows the medicine inventory of the pharamcy, from name, quantity, description and price</p>
		</div>
	</body>
</html>
