<% provide(:title, "Order History")%>
<!DOCTYPE html>
<html>
	<body>
		<div class="center jumbotron">
			<h1>Order History</h1>
			<p>This provides a glance over the past transaction, with the name of the client, medicines bought, quantity, price and date</p>
		</div>
	</body>
</html>
