<% provide(:title, "Médicaments") %>
<!DOCTYPE html>
<html>
  <body>
    <aside>
      <section class="user_info">
        <h2>
     	    <%= @medicine.name %>
        </h2>
        <h1>
      	 <%= @medicine.barcode %>
        </h1>
     </section>
    </aside>
  <body>
</html>
