<% provide(:title, "Fournisseurs") %>
<!DOCTYPE html>
<html>
  <body>
    <aside>
      <section class="provider_info">
        <h2>
     	    <%= @provider.name %>
        </h2>
        <h1>
      	 <%= @provider.phone %>
        </h1>
     </section>
    </aside>
  <body>
</html>
